p{
    display: flex;
    background-color:#F8F9F9 ;
    height: 100vh;
    flex-wrap:wrap;
    
    
}



.cards{
    
    background-color:#F9EBEA ;
    margin: 10px;
    height: 300px;
    width: 300px;
    text-align: center;
    font-family: Courier New, monospace;
    border-radius: 10px;
    border: black 2px solid;


}
img{
    border-radius: 60px;
    margin-top: 40px;
}